body,
html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.buttons {
    display: flex;
    flex: 1;
    min-height: 10vh;
    align-items: center;
    justify-content: center;
}

.roundResult {
    font-size: 3rem;
    text-align: center;
    padding: 70px 0px;
    height: 5vh;
}

#result {
    padding: 30px;
}

.resultAnimation {
    animation-duration: 1s;
    animation-name: increaseFont;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes increaseFont {
    from {
        font-size: 3rem;
    }
    to {
        font-size: 4rem;
    }
}

.scores {
    height: 10vh;
    font-size: 3rem;
    flex: 1;
    align-items: center;
    justify-content: center;
    display: flex;
    text-align: center;
}

.change {
    font-size: 4rem;
}

#playerScore {
    padding: 20px;
}

#playerWins {
    transition: font-size 0.5s;
}

#botScore {
    padding: 20px;
}

#botWins {
    transition: font-size 0.5s;
}

button {
    margin: 10px;
    font-size: 2rem;
    width: 10rem;
    height: 4rem;
    text-align: center;
    color: white;
    background: rgba(2, 59, 73, 0.4);
    border-radius: 5px;
}